<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704365856898-3khb5d3ge5b6b5t1vdjvbhi7q8k37cgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704365856898-3khb5d3ge5b6b5t1vdjvbhi7q8k37cgq</string>
	<key>API_KEY</key>
	<string>AIzaSyACqQG4nCBY_lxjxYGsIiwPt9stoJ9bwKM</string>
	<key>GCM_SENDER_ID</key>
	<string>704365856898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.MedEm</string>
	<key>PROJECT_ID</key>
	<string>medemapp4</string>
	<key>STORAGE_BUCKET</key>
	<string>medemapp4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704365856898:ios:2018eeed936401c6c70c9b</string>
</dict>
</plist>